.botao {
    background-color: #6279F7;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
}

.botao:hover{
    color: #95FFD4;
}